html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header .header__logo a {
  display: flex;
}

.header .header__logo svg {
  width: 70px;
}

.header .header__nav > ul {
  list-style: none;
  display: flex;
}

.header .header__nav > ul li {
  margin-right: 15px;
}
.header .header__nav ul a {
  text-decoration: none;
  color: rgb(92, 92, 92);
  transition: color .2s;
}

.header .header__nav ul a:hover {
  color: black;
}

.header .header__nav ul a:last-child {
  margin-right: 0;
}

.header__link_nested {
  position: relative;
}

.header__link_nested:hover .header__submenu {
  display: flex;
  flex-direction: column;
}

.header__submenu {
  position: absolute;
  display: none;
  padding-top: 10px;
  list-style: none;
}

.header__submenu li {
  margin-bottom: 10px;
}

.header__submenu li:last-child {
  margin-bottom: 0;
}