html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header .header__logo a {
  display: flex;
}

.header .header__logo svg {
  width: 70px;
}

.header .header__nav ul {
  list-style: none;
}

.header .header__nav ul a {
  text-decoration: none;
  margin-right: 15px;
  color: rgb(92, 92, 92);
  transition: color .2s;
}

.header .header__nav ul a:hover {
  color: black;
}

.header .header__nav ul a:last-child {
  margin-right: 0;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}