.wrapper {
  width: 80%;
  margin: 0 auto;
}

.form {
  margin-top: 25px;

  &-group {
    margin-bottom: 10px;

    &__label {
      display: inline-block;
      width: 100px;
      vertical-align: top;
    }
    &__item {
      min-width: 300px;
      padding: 3px 10px;
      border-radius: 3px;
      border-color: gray;

    }
    & textarea {
      max-width: 300px;
      min-height: 50px;
    }
  }
  .button {
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    background: #7f7667;
    color: white;
    border-radius: 3px;
    transition: background .2s, color .2s;
    &:hover {
      background: rgb(226, 226, 226);
      color: #7f7667;
    }
  }
}
